.env
.coverage
database.db
*.egg-info
**/__pycache__
.dockerfile
.terraform
build/
artifacts/
.swp
.bootstrap_settings
apply.tfvars
backend.tfvars
.vscode
deployment/terraform/*/auto.tfvars
.claude-plan

# macOS Finder metadata
.DS_Store
